<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body>
    <h1>Welcome to the text analizer. Enter your text below.</h1>
    <form action="/analyze" method="get">
        <textarea name="text" cols="30" placeholder="Enter your text here...."></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove Punctuations
        <br>
        <input type="checkbox" name="full_caps">Upper Case
        <br>
        <input type="checkbox" name="new_line_remover">New Line Remover
        <br>
        <button type="submit">Analize Text</button>
    </form>
</body>
</html>